


header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  fontweight: bold;
  color: MediumAquamarine;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-times {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: block;
  display: inline-flex;
}
