/* -- HEADER SECTION-- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  top: 0px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 68%;
  border: 1px solid black;
  color: MediumAquamarine;
  margin; 30px;
}

.my-times {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center
  overflow: scroll;
  width: 32%;
  padding-right: 40px;
  padding-bottom: 10px;
  color: black;
}

.nav-world {
  display: inline-flex;
  color: black;
}

.nav-us {
  display: inline-flex;
  color: black;
}

.nav-tech {
  display: inline-flex;
  color: black;
}

.nav-science {
  display: inline-flex;
  color: black;
}

/* -- CONTENT SECTION -- */
.content-container {
  display: flex;
  width: 100%;
  margin-top: 100px;
  border: 1px solid black;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2{
  font-size: 30px;
  font-weight: bold;
}

/* -- Large Column Section -- */
.column-large {
  display: flex
  text-direction: column;
  width: 630px;
  border: 1px solid black;
  margin: 10px;
}
.image-content {
  border: 1px solid black;
}
.narrative {
  border: 1px solid black;

}

/* -- Medium Column Section -- */
.column-medium {
  display: flex;
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

/* -- Small Column Section -- */
.column-small {
  display: flex;
  width: 240px;
  border: 1px solid black;
  margin: 10px;
}
